:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.react-flow__node-input,
.react-flow__node-default,
.react-flow__node-output,
.react-flow__node-group {
  width: 275px !important;
}

.react-flow__attribution {
  display: none;
}

/* Popup Styling */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1334px;
  background: #fff;
  z-index: 1000;
  transform: translate(-50%, -50%);
  border-radius: 12px;
}

.popup.hidden {
  display: none;
}

.popup-content {
  padding: 40px;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 600px;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.conent-form {
  height: 450px;
  border: 1px solid rgba(36, 28, 21, 0.15);
  padding: 20px;
  border-radius: 10px;
  display: flex;
}

.conent-form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  display: block;
}

.conent-form input,
.conent-form textarea,
.conent-form select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 97%;
}

.conent-form textarea {
  resize: vertical;
}

.conent-form button {
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.conent-form button:hover {
  background-color: #0056b3;
}

.conent-form .form-group {
  margin-bottom: 15px;
}

.conent-form .form-group:last-child {
  margin-bottom: 0;
}

#popup-form-fields {
  width: 99%;
  padding: 10px 0;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-header {
  border-bottom: 1px solid rgba(36, 28, 21, 0.15);
  padding: 10px 20px;
  position: relative;
}

.popup-header .close-popup {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

.popup-footer {
  border-top: 1px solid rgba(36, 28, 21, 0.15);
  padding: 12px 16px;
  text-align: right;
}

.conent-form .content-left {
  width: 50%;
  margin-right: 30px;
}

.conent-form .conent-right {
  width: calc(100% - 50% - 30px);
}

.btn-save {
  margin-right: 16px;
  padding: 10px 20px;
  border-radius: 50px;
  outline: none;
  background: #007c89;
  color: #fff;
  border: 0;
}

.btn-remove {
  padding: 10px 20px;
  border-radius: 50px;
  outline: none;
  background: red;
  color: #fff;
  border: 0;
}
